.fade-enter {
  /* right: 100px; */
  opacity: 0;
  transform: rotateX(90deg) rotateZ(90deg)
}

.fade-enter-active {
  /* right: 0px; */
  opacity: 1;
  transform: rotateX(0deg) rotateZ(0deg);
  transition: .5s ease-in all;
}

.fade-leave {
  opacity: 1;
}

.fade-leave-active {
  opacity: 0;
  transition: .5s ease-out all;
}